# Introduction to DataFrames
- Read data from CSV (downloadable from Yahoo! Finance)
- Understand data types
- Set index
- Parse dates 
- Use index with **loc**
- Use indexing with **iloc**

In [1]:
import pandas as pd

In [2]:
remote_file = "https://raw.githubusercontent.com/LearnPythonWithRune/FinancialDataAnalysisWithPython/main/files/AAPL.csv"
test = pd.read_csv(remote_file, index_col=0, parse_dates=True)

In [3]:
data = pd.read_csv('AAPL.csv')

In [4]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-27,77.514999,77.942497,76.220001,77.237503,76.576187,161940000
1,2020-01-28,78.150002,79.599998,78.047501,79.422501,78.742477,162234000
2,2020-01-29,81.112503,81.962502,80.345001,81.084999,80.390747,216229200
3,2020-01-30,80.135002,81.022499,79.687500,80.967499,80.274246,126743200
4,2020-01-31,80.232498,80.669998,77.072502,77.377502,76.714989,199588400

In [5]:
data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [6]:
data.index

RangeIndex(start=0, stop=253, step=1)

In [7]:
data2 = pd.read_csv('AAPL.csv',index_col=0,parse_dates=True)

In [8]:
data2.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-27  77.514999  77.942497  76.220001  77.237503  76.576187  161940000
2020-01-28  78.150002  79.599998  78.047501  79.422501  78.742477  162234000
2020-01-29  81.112503  81.962502  80.345001  81.084999  80.390747  216229200
2020-01-30  80.135002  81.022499  79.687500  80.967499  80.274246  126743200
2020-01-31  80.232498  80.669998  77.072502  77.377502  76.714989  199588400

In [9]:
data2.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [10]:
data2.index

DatetimeIndex(['2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30',
               '2020-01-31', '2020-02-03', '2020-02-04', '2020-02-05',
               '2020-02-06', '2020-02-07',
               ...
               '2021-01-12', '2021-01-13', '2021-01-14', '2021-01-15',
               '2021-01-19', '2021-01-20', '2021-01-21', '2021-01-22',
               '2021-01-25', '2021-01-26'],
              dtype='datetime64[ns]', name='Date', length=253, freq=None)

In [11]:
data2.loc['2020-01-27']

Open         7.751500e+01
High         7.794250e+01
Low          7.622000e+01
Close        7.723750e+01
Adj Close    7.657619e+01
Volume       1.619400e+08
Name: 2020-01-27 00:00:00, dtype: float64

In [13]:
data2.loc['2021-01-01':]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,129.410004,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,131.009995,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,126.599998,155088000
2021-01-07,128.360001,131.630005,127.860001,130.919998,130.919998,109578200
2021-01-08,132.429993,132.630005,130.229996,132.050003,132.050003,105158200
2021-01-11,129.190002,130.169998,128.500000,128.979996,128.979996,100620900
2021-01-12,128.500000,129.690002,126.860001,128.800003,128.800003,91951100
2021-01-13,128.759995,131.449997,128.490005,130.889999,130.889999,88636800
2021-01-14,130.800003,131.000000,128.759995,128.910004,128.910004,90221800
2021-01-15,128.779999,130.220001,127.000000,127.139999,127.139999,111598500
2021-01-19,127.779999,128.710007,126.940002,127.830002,127.830002,90757300
2021-01-20,128.660004,132.490005,128.550003,132.029999,132.029999,104319500
2021-01-21,133.800003,139.669998,133.589996,136.869995,136.869995,120529500
2021-01-22,136.279999,139.850006,135.020004,139.070007,139.070007,114459400
2021-01-25,143.070007,145.089996,136.539993,142.919998,142.919998,157282400
2021-01-26,143.600006,144.300003,141.369995,142.080002,142.080002,50388565

In [14]:
data2.loc['2020-06-01':'2020-07-01']

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-06-01  79.437500  80.587502  79.302498  80.462502  80.179359   80791200
2020-06-02  80.187500  80.860001  79.732498  80.834999  80.550545   87642800
2020-06-03  81.165001  81.550003  80.574997  81.279999  80.993980  104491200
2020-06-04  81.097504  81.404999  80.195000  80.580002  80.296448   87560400
2020-06-05  80.837502  82.937500  80.807503  82.875000  82.583374  137250400
2020-06-08  82.562500  83.400002  81.830002  83.364998  83.071640   95654400
2020-06-09  83.035004  86.402496  83.002502  85.997498  85.694878  147712400
2020-06-10  86.974998  88.692497  86.522499  88.209999  87.899590  166651600
2020-06-11  87.327499  87.764999  83.870003  83.974998  83.679497  201662400
2020-06-12  86.180000  86.949997  83.555000  84.699997  84.401947  200146000
2020-06-15  83.312500  86.419998  83.144997  85.747498  85.445755  138808800
2020-06-16  87.864998  88.300003  86.180000  88.019997  87.710258   41357200
2020-06-17  88.787498  88.849998  87.772499  87.897499  87.588196   28532000
2020-06-18  87.852501  88.362503  87.305000  87.932503  87.623077   24205100
2020-06-19  88.660004  89.139999  86.287498  87.430000  87.122337   66119000
2020-06-22  87.834999  89.864998  87.787498  89.717499  89.401787   33861300
2020-06-23  91.000000  93.095001  90.567497  91.632500  91.310051   53038900
2020-06-24  91.250000  92.197502  89.629997  90.014999  89.698242   48155800
2020-06-25  90.175003  91.250000  89.392502  91.209999  90.889038   34380600
2020-06-26  91.102501  91.330002  88.254997  88.407501  88.096405   51314200
2020-06-29  88.312500  90.542503  87.820000  90.445000  90.126732   32661500
2020-06-30  90.019997  91.495003  90.000000  91.199997  90.879066   35055800
2020-07-01  91.279999  91.839996  90.977501  91.027496  90.707176   27684300

In [15]:
# filter data until 2020-07-01
data2.loc[:'2020-07-01']

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-27  77.514999  77.942497  76.220001  77.237503  76.576187  161940000
2020-01-28  78.150002  79.599998  78.047501  79.422501  78.742477  162234000
2020-01-29  81.112503  81.962502  80.345001  81.084999  80.390747  216229200
2020-01-30  80.135002  81.022499  79.687500  80.967499  80.274246  126743200
2020-01-31  80.232498  80.669998  77.072502  77.377502  76.714989  199588400
...               ...        ...        ...        ...        ...        ...
2020-06-25  90.175003  91.250000  89.392502  91.209999  90.889038   34380600
2020-06-26  91.102501  91.330002  88.254997  88.407501  88.096405   51314200
2020-06-29  88.312500  90.542503  87.820000  90.445000  90.126732   32661500
2020-06-30  90.019997  91.495003  90.000000  91.199997  90.879066   35055800
2020-07-01  91.279999  91.839996  90.977501  91.027496  90.707176   27684300

[110 rows x 6 columns]

In [16]:
# first data
data.iloc[0]

Date         2020-01-27
Open          77.514999
High          77.942497
Low           76.220001
Close         77.237503
Adj Close     76.576187
Volume        161940000
Name: 0, dtype: object

In [17]:
# get last data
data.iloc[-1]

Date         2021-01-26
Open         143.600006
High         144.300003
Low          141.369995
Close        142.080002
Adj Close    142.080002
Volume         50388565
Name: 252, dtype: object

In [18]:
data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
248,2021-01-20,128.660004,132.490005,128.550003,132.029999,132.029999,104319500
249,2021-01-21,133.800003,139.669998,133.589996,136.869995,136.869995,120529500
250,2021-01-22,136.279999,139.850006,135.020004,139.070007,139.070007,114459400
251,2021-01-25,143.070007,145.089996,136.539993,142.919998,142.919998,157282400
252,2021-01-26,143.600006,144.300003,141.369995,142.080002,142.080002,50388565